<div class="row">
    <div style="margin-left: 1em;" class="choose-your-poison">
      <div class="btn-group">
        <button type="button" btn-radio="'spending'"  ng-model="radioModel" class="btn btn-primary" ng-click="recordSelect('spending')">Spending</button>
        <button type="button" btn-radio="'revenue'"   ng-model="radioModel" class="btn btn-primary" ng-click="recordSelect('revenue')">Revenue</button>
        <button type="button" btn-radio="'financing'" ng-model="radioModel" class="btn btn-primary" ng-click="recordSelect('financing')">Borrowing</button>
      </div>
    </div>
</div>
<div class="row header">
  <img src="/img/island-silhouette.png" alt="PACIFIC ECONOMICS" />
</div>
<div class="row">
  <div class="span12">
    <!-- h2>{{ level || 'National Budget' }}</h2 -->
    <h2>Budget Visualiser</h2>
  </div>

  <div class="span8">

    <h3 class="fade-in">{{ name }}</h3>

    <p>
      <ul class="breadcrumbs">
	<li class="breadcrumb-trail fade-in" ng-repeat="b in breadcrumbs" ng-click="reloadBreadcrumbs(b)"><i class="icon-hand-right"></i> <span class="trail-item">{{ b }}</span></li>
      </ul>
    </p>

    <nvd3-pie-chart
       data="pieChartData"
       noData=""
       id="pieChartBudget"
       showLabels="false"
       showValues="true"
       labelType="percent"
       tooltips="true"
       tooltipContent="tooltipContent"
       transitionDuration="700"
       x="xFunction()"
       y="yFunction()"
       width="700"
       height="700"
       donut="true"
       donutRatio="1.5"
       donutLabelsOutside="false"
       showLegend="false"
       margin="{left:-50,top:100,bottom:100,right:100}">

      <svg id="budget"></svg>
    </nvd3-pie-chart>
  
    <!-- div style="margin-top: 4em; z-index:10000000;">
      <simple-svg-legend 
	 data="pieChartData"
	 width="500" 
	 height="200" 
	 labels="['Foo','Bar','Baz','Quux']" 
	 classes="['legend-bullet-1','legend-bullet-2','legend-bullet-3','legend-bullet-4']" 
	 shapes="['circle','circle','circle','circle']" 
	 columns="5" 
	 x="10" 
	 y="0">
      </simple-svg-legend>
    </div -->
  
  </div>
  
  <div class="span4">
    <h4 class="fade-in">{{ name.length ? name + ' History' : '' }}</h4>
    
    {{ notes }}

    <nvd3-multi-bar-chart
       data="stackedBarChartData"
       id="stackedBarChart"
       tooltips="true"
       tooltipContent="barChartTooltips">
        <svg style="padding: 3em; padding-left: 3.5em; height: 400px;"></svg>
    </nvd3-multi-bar-chart>

  </div>

  <div class="span12 other" ng-show="showOthers">
    <h3>Other</h3>
    <nvd3-multi-bar-horizontal-chart
       data="othersBarChartData"
       id="othersBarChart"
       tooltips="true"
       tooltipContent="barChartTooltips">
        <svg style="
		    padding: 3em;
		    padding-left: 20em;
		    height: 500px;
		    width: 800px;
		    margin-left: -12em;
		    margin-top: -5em;"></svg>
    </nvd3-multi-bar-chart>
  </div>

</div>
<div class="row" style="margin-bottom: 120px;">
</div>

<div class="row footer">
<hr />
<p>
  <small>Brought to you by the <a href="http://pacificpolitics.com/">Pacific Insititute of Public Policy</a>.</small>
</p>
<p>
  <small>PiPP is the leading independent think tank serving the Pacific islands community. 
    We exist to stimulate and support informed policy debate in the Pacific.</small>
</p>


</div>
