<script type="javascript">
var tooltipContent = function(key, x, y, e, graph) {
    return '<h3>' + key + '</h3>' +'<p>X: ' + x + '</p>'+'<p>Y: ' + y + '</p>'+'<p>e: ' + e + '</p>' ;
}
</script>
<div class="row">
  <div class="span12">
    <h2>{{ name }}</h2>
  </div>

  <div class="span8">

    <h3>{{ level }}</h3>

    <p>
      <ul class="breadcrumbs" ng-repeat="b in breadcrumbs">
	<li ng-click="reloadBreadcrumbs(b)">{{ b }}</li>
      </ul>
    </p>

    <nvd3-pie-chart
       data="pieChartData"
       noData=""
       id="pieChartBudget"
       showLabels="true"
       tooltips="true"
       tooltipContent="tooltipContent"
       x="xFunction()"
       y="yFunction()"
       width="700"
       height="700"
       donut="true"
       donutRatio="1.5"
       donutLabelsOutside="false"
       margin="{left:100,top:100,bottom:100,right:100}">

      <svg id="budget"></svg>

    </nvd3-pie-chart>

  </div>
  
  <div class="span4">
    <h3>{{ level }} History</h3>
    
    {{ notes }}

    <nvd3-multi-bar-chart
       data="stackedBarChartData"
       id="stackedBarChart"
       tooltips="true">
        <svg style="padding: 3em; height: 400px;"></svg>
    </nvd3-multi-bar-chart>

  </div>

</div>
