<div class="row">
<div class="span12">

  <h1>Welcome to Pacific Economics</h1>
  <h3>Resources available:</h3>
  <ul>
    <li><a href="/#/budget/png/2014/">Papua New Guinea budget for 2014</a></li>
    <li>
      <a href="/#/budget/vu/2014/">Vanuatu budget for 2014</a>
      <ul>
	<li><a href="/#/budget/vu/2014/at-a-glance">Vanuatu 2014 budget at a glance</a></li>
	<li><a href="/#/budget/vu/2014/scholarships">Vanuatu scholarships - a case study</a></li>
	<li><a href="/#/budget/vu/npps/2014">New Policy Proposals</a></li>
  </ul>
</div>
</div>