<div class="row header">
  <img src="/img/island-silhouette.png" alt="PACIFIC ECONOMICS" />
</div>
<div class="row">
  <h1>Welcome to Pacific Economics</h1>
  <h3>Resources available:</h3>
  <ul>
    <li><a href="/#/budget/png/2014/">Papua New Guinea budget for 2014</a></li>
    <li><a href="/#/budget/vu/2014/">Vanuatu budget for 2014</a></li>
  </ul>
</div>
<div class="row footer">
<hr />
<p>
  <small>Brought to you by the <a href="http://pacificpolitics.com/">Pacific Insititute of Public Policy</a>.</small>
</p>
<p>
  <small>PiPP is the leading independent think tank serving the Pacific islands community. 
    We exist to stimulate and support informed policy debate in the Pacific.</small>
</p>


</div>
