<div class="row">
<div class="span8">

<div ng-include src="'/views/odo-remarks.html'"></div>
<div ng-include src="'/views/not-just-a-pretty-picture.html'"></div>
  
</div>
<div class="span4 pull-right">
  <h3>Resources available:</h3>
  <ul class="resource-list">
    <li class="resource-list-item">
		<strong>Papua New Guinea</strong>
      <ul class="resource-list-sublist">
				<li class="resource-list-sublist-item"><a href="/#/budget/png/2014/at-a-glance">PNG 2014 budget at a glance</a></li>
				<li class="resource-list-sublist-item"><a href="/#/budget/png/2014/">Papua New Guinea spending wheel</a></li>
			</ul>
    </li>
    </li>
    <li class="resource-list-item">
		<strong>Vanuatu</strong>
      <ul class="resource-list-sublist">
				<li class="resource-list-sublist-item"><a
				href="http://pacificpolitics.com/2014/01/the-potholed-road-to-prosperity/"
				target="_blank">Vanuatu
				economic overview</a></li>
				<li class="resource-list-sublist-item"><a href="/#/budget/vu/2014/at-a-glance">Vanuatu 2014 budget at a glance</a></li>
				<li class="resource-list-sublist-item"><a href="/#/budget/vu/2014/">Vanuatu spending wheel</a></li>
				<li class="resource-list-sublist-item"><a href="/#/budget/vu/2014/scholarships">Vanuatu scholarships - a case study</a></li>
				<li class="resource-list-sublist-item"><a href="/#/budget/vu/npps/2014">New Policy Proposals - Vanuatu's
				Spending Priorities</a></li>
				<li class="resource-list-sublist-item"><a href="/#/budget/vu/2014/budget-timeline">Vanuatu's budget timeline</a></li>
			</ul>
    </li>
</div>
</div>