<h1>Opening the government budgets of Pacific island states</h1>
  <p>
	<img src="/img/vila-odo-tevi-for-web-1.jpg" alt="Odo Tevi, former
  Governor of the Reserve Bank of Vanuatu" style="float:left;
  margin-right: 1em;box-shadow: 2px 2px 2px #888888;" /> 
  In the Pacific region our governments face many challenges. Our
  dispersed islands can make public service delivery particularly
  costly and difficult. At the same time the size of our countries
  and economies can often limit the resources at our disposal and
  hinder the capacity of our civil services to deliver government
  policy. The government machine is often thinly spread, both
  geographically and across many policy priorities.
  </p>
 
  <p>
  It for this reason that difficulties facing public services
  tend to be the complicated combination of a lack of resources, poor
  management of public finances and the need to develop strong,
  locally-driven, policy solutions. This is a difficult story to
  untangle for those small number of officials trying to make
  sense of these issues behind the doors of government Ministries.
  </p>
 
  <p>
  The government budget is the foundation of much of these discussions
  and gives us a place to begin our considerations delivery of public
  services. Unfortunately, only a few countries manage to make budget
  information accessible, even fewer find a way of communicating the
  contents well and almost no one is working to actively engage those
  outside the civil service. However, from my own personal experience,
  I know that Ministries of Finance are very stretched- issues of
  communication and engagement are understandably towards the end of a
  Treasury official’s to-do list.
  </p>
 
  <p>
  It is for this reason that I am pleased to support of the Pacific
  Institute of Public Policy (PiPP), who, unique to the region, are
  not just calling for more accountability but have started the
  process of working directly alongside governments in the region to
  open up these discussions to a broader audience. 
  </p>
 
  <p>
  To some extent this work will help support government
  accountability - after all the government is spending public
  funds (dare I say it, ‘your money’). However, what PiPP has rightly
  identified is that engaging people in the budgeting process is also
  about stimulating informed public policy debate: where should
  government spending be directed? What are the best ways to raise
  revenue? How do we improve management of public finances? How should
  we deliver healthcare or education?
  </p>
  <p>
  These are often discussion driven by a few and all too often by
  those outside the region.
  </p>

  <p>
The launch of PiPP’s engaging and interactive approach to
discussing issues in government budgets is the first step towards an
end to the closed-door discussions of public policy. Only through
bringing these statistics and policy discussions together and active
engagement with citizens, parliamentarians, NGOs and the press, can we
begin to offer a richer environment to shape good policy, improved
management of finances and stronger delivery of public services.
</p>

<p><strong>
Odo Tevi <br />
Former Governor, Reserve Bank of Vanuatu and PiPP Board Member
</strong></p>