<div ng-controller="oneOffChartsCtrl">
	<div class="row">
    <div class="span12">
      <h1>Open Budgets: Papua New Guinea's growing deficit</h1>
      <p class="intro">
			 Much has been made over the last couple of days over an analysis we published on Papua
			New Guinea's updated financial outlook. What's really in it?
			</p>

      <blockquote>
      <i>
			The government’s assessment of the state of the economy provides the
			backdrop for the creation of their budget. It not only gives
      officials an idea of how government revenues are likely
			to perform but also is used to shape the governments decisions
			about how much to tax, spend and borrow. For the rest of us,
			it gives an indication of which way economic opportunities may
      be moving. The numbers below are not ours - they belong to the
			Treasury department of the government of Papua New Guinea.
			</i>
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>PNG's Growing spending to income gap</h3>
      <div style="margin-left: 1em;" class="choose-your-poison">
			  <div class="btn-group btn-group-sm">
					<button type="button" btn-radio="0" ng-model="whichPNGFinancials" class="btn btn-default" ng-click="nextPNGFinancial(0)">2014 Budget Estimate</button>
					<button type="button" btn-radio="1" ng-model="whichPNGFinancials" class="btn btn-default" ng-click="nextPNGFinancial(1)">Revised Estimate</button>
				</div>
				</div>
      <p>(Millions of Vatu)</p> 
    </div>
    <nvd3-line-chart
       data="pngUpdateGraph"
       id="pg-revenue-expense-update"
       showXAxis="true"
       showYAxis="true"
       showLegend="true"
       showControls="true"
       interactive="true"
       tooltips="true"
		   forceY="[9000,15500]"
       tooltipContent="lineChartTooltips"
       xAxisTickFormat="xAxisTickFormatFunction()"
       isArea="true"
       width="600"
       height="350"
       color="colorFunction()"
       margin="{left:75,top:20,bottom:0,right:0}">
      <svg></svg>
    </nvd3-line-chart>
		<p class="source">Source: Papua New Guinea Treasury</p>
    </div>
  </div>
	<div class="row">
    <div class="span12">
      <p class="intro">
			That divergence may not seem like a lot, but consider the following:
			</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>PNG National Deficit</h3>
      <p>(Millions of Kina)</p> 
    </div>
    <nvd3-multi-bar-chart
       data="pngDebtUpdate"
       id="pg-debt-update"
       showXAxis="true"
       showYAxis="true"
       showLegend="true"
       showControls="false"
		   grouped="true"
       interactive="true"
       tooltips="true"
       tooltipContent="lineChartTooltips"
       xAxisTickFormat="xAxisTickFormatFunction()"
       isArea="true"
       width="600"
       height="350"
       color="colorFunction()"
       margin="{left:75,top:20,bottom:0,right:0}">
      <svg></svg>
    </nvd3-multi-bar-chart>
		<p class="source">* With uncertain revenues removed <hr style="width:30%;text-align:right;" /></p>
		<p class="source">Source: Papua New Guinea Treasury</p>
    </div>
  </div>
</div>
