<div ng-controller="oneOffChartsCtrl">
	<div class="row">
    <div class="span12">
      <h1>Open Budgets: The Gap Widens in Papua New Guinea</h1>
      <p class="intro">
			 Much has been made over the last couple of days over an analysis we published on Papua
			New Guinea's updated financial outlook. What's really in it?
			</p>

      <blockquote>
      <i>
			The government’s assessment of the state of the economy provides the
			backdrop for the creation of their budget. It not only gives
      officials an idea of how government revenues are likely
			to perform but also is used to shape the governments decisions
			about how much to tax, spend and borrow. The accuracy of its predictions
			therefore have a direct impact on a country's fate.
			The numbers below belong to the
			Treasury department of the government of Papua New Guinea.
			</i>
      </blockquote>
		</div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>PNG's Growing Deficit</h3>
      <div style="margin-left: 1em;" class="choose-your-poison">
			  <div class="btn-group btn-group-sm">
					<button type="button" btn-radio="0" ng-model="whichPNGDebt" class="btn btn-default" ng-click="nextPNGDebt(0)" title="Originally presented in late 2013">2014 Budget Estimate</button>
					<button type="button" btn-radio="1" ng-model="whichPNGDebt" class="btn btn-default" ng-click="nextPNGDebt(1)" title="Following July's mid-year fiscal update">Revised Estimate - Mid-Year Report</button>
					<button type="button" btn-radio="2" ng-model="whichPNGDebt" class="btn btn-default" ng-click="nextPNGDebt(2)" title="*see note below">With Uncertain Revenues Removed*</button>
				</div>
				</div>
      <p style="margin-left: 1em;">(Millions of KINA)</p> 
    </div>
    <nvd3-multi-bar-chart
       data="pngDebtGraph"
       id="pg-debt-graph"
       showXAxis="true"
       showYAxis="true"
       showLegend="true"
       showControls="false"
		   grouped="true"
       interactive="true"
       tooltips="true"
		   forceY="[0,-4000]"
       tooltipContent="pngUpdateTooltips"
       xAxisTickFormat="xAxisTickFormatFunction()"
       isArea="true"
       width="600"
       height="350"
       color="debtColours()"
       margin="{left:75,top:20,bottom:0,right:0}">
      <svg></svg>
    </nvd3-bar-chart>
		<p class="source" style="width:40%;">
		* "In addition there is a risk that anticipated revenues from State Own Enterprises (SOEs)
		dividends (K287 million) and assets sales (K600 million) do not materialise." - Mid Year
		Fiscal and Economic Update, Treasury Department of PNG
		<hr style="width:30%;text-align:right;" />
		</p>
		<p class="source" style="width:40%;">Source: Papua New Guinea Treasury</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
			<p>
			The first chart we see above shows a deficit that ballooned in 2013 in anticipation
			of increased natural resource revenues. To some extent, this is to be expected; PNG
			was effectively creating an entirely new industrial sector at that time, so some increased
			spending is par for the course.
			</p>
			<p>
			The narrative as expressed in the 2014 budget was that spending would decrease
			slightly, and revenues would remain high. This would have the effect of the deficit
			being gently reduced over time as revenues increase. 
			</p>
			<p>Fast forward six months, and we find that spending has not in fact slowed down,
			and spending remains more or less consistent with what was originally planned. The result
			is a potential increase in an already large deficit. But if we read the fine print of
			the Treasury's Mid Year Fiscal and Economic Update, we find the quotation above, hinting
			that all might not be as rosy as predicted.
			</p>
		</div>
	</div>
</div>
