<div ng-controller="powerGenerationCtrl">
  <div class="row">
    <div class="span12">
			<h1>Power generation in the Pacific</h1>
			<p>
				Intro....
			</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
			<h3>{{ powerChartHeader }}</h3>
				<div style="margin-left: 1em;">
					<label for='country_select'>Select a supplier for comparison</label>
					<select id="country_select" class="selectpicker btn-info" ng-model="country" ng-options="conversion.Country as conversion.Country for conversion in conversions">
						<option value="1">--- Select a currency ---</option>
					</select>
				</div>			
			<div style="margin-left: 1em;" class="choose-your-poison">
				<div class="btn-group btn-group-sm">
					<button type="button btn-info" btn-radio="0" ng-model="whichPowerChart" class="btn btn-default" ng-click="nextPowerChart(0)">Business Consumers</button>
					<button type="button btn-info" btn-radio="1" ng-model="whichPowerChart" class="btn btn-default" ng-click="nextPowerChart(1)">Domestic Consumers</button>
					<button type="button btn-info" btn-radio="2" ng-model="whichPowerChart" class="btn btn-default" ng-click="nextPowerChart(2)">Small Domestic Consumers</button>
				</div>
   			<p class="fade-in"><strong>(Using: {{ displayCurrency }})</strong></p> 
			</div>
	    <nvd3-multi-bar-chart
				data="powerChart"
				id="power-chart"
				showXAxis="true"
				showYAxis="true"
        showLegend="false"
				showControls="false"
				interactive="true"
				width="800"
				height="650"
				rotateLabels="60"
				color="colorFunction()"
        tooltips="true"
        tooltipcontent="powerTooltips"
				margin="{left:75,top:90,bottom:0,right:0}">
				<svg style="height: 800px; width: 80%;"></svg>
			</nvd3-multi-bar-chart>

			<p class="source">Source: Some source</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
			<p>
				Conclusion....
			</p>
		</div>
		<div class="row">
			<div class="span12 footnotes">
				<h1>Sources</h1>
				<ul>
					<li>
						Footnote 1
					</li>
					<li>
						Footnote 2
					</li>
				</ul>
			</div>
		</div>
</div>
