<div ng-controller="powerGenerationCtrl">
  <div class="row">
    <div class="span12">
			<h1>Average monthly spend on power in the Pacific</h1>
			<p class="intro">
			Sustainably reducing consumer electricity prices is not just a nicety; it can help to improve
			livelihoods, free up more resources for human development priorities and reduce the vulnerability
			of communities to swings in prices.
			</p>
			<p>
			For the longest time, it has been difficult to see just who the movers and shakers of consumer
			electricity prices are. This made it impossible to build an adequate understanding of this policy challenge.
			This should come as no surprise. Cross-Pacific comparisons tend to fall prey to data challenges, making
			them easier imagined than produced.
			</p>
			<p>
			Fortunately, Vanuatu’s Utility Regulatory Authority (URA) has made headway in correcting this through
			a herculean effort at collating regional electricity price information in their annual
			<a href="http://www.ura.gov.vu/attachments/article/100/URA%20Preliminary%20Decision%20-%20BDI%20Tariff%20-%20U-0013-14.pdf">Pacific Region
			Electricity Bills</a> report. With the support of the region’s regulators, the URA has gathered consumer-price
			information to understand the relative performance of Pacific island countries.
			</p>
			<p>
			The report ranks countries by consumer prices across three categories: Small domestic consumer
			(60 kWh/mth 1.1kVA), domestic consumer (300 kWh/mth 3.3kVA) and business consumer (10,000 kWh/mth 100kVa).
			As it is the second such report, it also relates these changes to last year's, not only to see where the
			countries rank against the others, but to see whether countries are catching up to or falling behind the rest
			of the Pacific islands.
			</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
			<h3>{{ powerChartHeader }}</h3>
				<div style="margin-left: 1em;">
					<label for='country_select'>Select a supplier for comparison</label>
					<select id="country_select" class="selectpicker btn-info" ng-model="country" ng-options="conversion.Country as conversion.Country for conversion in conversions">
						<option value="1">--- Select a currency ---</option>
					</select>
				</div>			
			<div style="margin-left: 1em;" class="choose-your-poison">
				<div class="btn-group btn-group-sm">
					<button type="button btn-info" btn-radio="0" ng-model="whichPowerChart" class="btn btn-default" ng-click="nextPowerChart(0)" title="(10,000kWh/mth 100kVA)">Business Consumers</button>
					<button type="button btn-info" btn-radio="1" ng-model="whichPowerChart" class="btn btn-default" ng-click="nextPowerChart(1)" title="(300kWh/mth 3.3kVA)">Domestic Consumers</button>
					<button type="button btn-info" btn-radio="2" ng-model="whichPowerChart" class="btn btn-default" ng-click="nextPowerChart(2)" title="(60KwH/mth 1.1 kVA)">Small Domestic Consumers</button>
				</div>
   			<p class="fade-in"><strong>(Using: {{ displayCurrency }})</strong></p> 
			</div>
	    <nvd3-multi-bar-chart
				data="powerChart"
				id="power-chart"
				showXAxis="true"
				showYAxis="true"
        showLegend="false"
				showControls="false"
				interactive="true"
				width="800"
				height="650"
				rotateLabels="60"
				color="colorFunction()"
        tooltips="true"
        tooltipcontent="powerTooltips"
				margin="{left:75,top:90,bottom:0,right:0}">
				<svg style="height: 800px; width: 80%;"></svg>
			</nvd3-multi-bar-chart>

			<p class="source">Source: <a href="http://www.ura.gov.vu/">Vanuatu Utilities Regulatory Authority</a></p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
			<p>
			In first place is Fiji. It has one of the lowest dependencies on diesel imports and &mdash;generating 60%
			of electricity through hydroelectric power stations- have some of the cheapest electricity bills across
			the board. At the other end of the spectrum we see the stubbornly high bills facing people in
			Solomon Islands and on Falalop in the FSM &mdash;both of which appear to have fees close to double the Pacific average.
			</p>
			<p> 
			But this is not just a story about consumer prices. It is also about how
			prices change across consumer groupings. The report shows how Vanuatu’s main electricity provider
			offers some of the cheapest rates to small consumers in the region, while having some of the highest
			rates for large consumers and businesses. This is a result of cross-subsidization that places the burden
			of the electricity bills on those most able to shoulder it &mdash;the larger consumers. A significant majority
			of UNELCO subscribers fall below the lower threshold, and as such enjoy some of the best prices &mdash;and best
			service levels&mdash; in the Pacific islands.
			</p>
			<p>
			Interestingly, in New Caledonia we see the opposite situation. While providers offer some of the cheapest
			regional rates for domestic consumers and businesses it has some of the most expensive for small consumers.
			This suggests at face value that the small consumers are subsidizing the larger ones.
			</p>
			<p>
			If ever there was data that should spark discussions, this is it &mdash;this report raises many questions
			(beyond its own scope) and leaves much for us to interpret.
			</p>
			<p>
			To understand the price differentials across the region and to get the best out of this work we must
			consider this data alongside quality of service and access, as well as the stories of industry structure
			and government policy.
			</p>
			<p>
			The report emphasises that despite the impressive position of Pohnpei as one of the cheapest places
			in the region to buy electricity, tariffs fall short of costs of maintenance and has a notoriously
      unreliable system. Having the cheapest prices in the region is only slight compensation for sub-standard service.
			</p>
			<p>
      Equally, while Vanuatu has an impressive level of reliability and relativity cheap prices facing small domestic consumers,
      a large majority of the population do not have access to electricity. While, relatively low prices for small consumers
      may sound appealing, it has been shown, as recently highlighted in a <a href="https://researchers.anu.edu.au/publications/81498">paper by ANU researcher Matt Dornan</a>,
      that in some instances these prices
      can come at the expense of rollout of infrastructure. Cheap prices in Port Vila for small consumers is good from an
      equity standpoint, but only 17 percent of the population has access to power.
			</p>
			<p>
      While the questions of cross-subsidies are open to debate, the real point is that to get the value from this work
      we need to bring together this bigger picture through profiling country experiences and how they are evolving.
      This is the gauntlet laid down to the region’s policy makers.
			</p>
			<p>
      This report is well worth exploring and provides good foundation for shaping our understanding the challenges
      and opportunities for electricity provision. It’s time to build on this and pull apart what this all means.
      </p>
		</div>
		<div class="row">
			<div class="span12 footnotes">
				<h1>Sources</h1>
				<ul>
					<li>
						Footnote 1
					</li>
					<li>
						Footnote 2
					</li>
				</ul>
			</div>
		</div>
</div>
