<h1>The potholed road to prosperity</h1>
  <h3>
Vanuatu’s situation is
	improving, but its next steps could make or break the economy,
	writes Dan McGarry</h3>

<p>Vanuatu’s budget books, released earlier this month, reveal
a fairly healthy economy. When you look at the broad strokes, that
is. But they are far less revealing than they should be about the road
ahead for the tiny island nation.</p> <p>Overall, the economic news is
okay. Revenues have improved significantly, largely because customs
and inland revenue has tightened up its processes. Businesses are now
closer to paying what they actually owe. The world economy is
improving, and so is Vanuatu’s. Growth is expected to increase, from
3.3% in 2013 to 5.1% in 2014, and even higher in 2015. Inflation will
remain low, likely less than 3% in the coming year. The government is
taking on USD 5 million in new debt in order to contribute to a number
of largely donor-funded infrastructure projects.</p> <p>But dig a
little deeper, and things appear even less so rosy. The budget does
little to reflect the government’s goal of ‘a Just, an Educated,
Healthy and Wealthy Vanuatu’. Overspending on scholarships in 2013 has
not only left the department of education constrained at the very
moment when it should be investing heavily in teachers, schools and
educational resources, it’s diverted money from other areas as
well.</p> <p>In health, things don’t look so good either. Whatever we
may think about the department’s recent decision to focus on medicine
to the exclusion of other activities, it’s clear that much could be
done to improve the ministry’s policy-making and implementation
processes. A recent outbreak of dengue in Port Vila has caught it
flat-footed. The cost in terms of medical care and, potentially, in
lives, will only add to the nation’s burden.</p> <p>Vanuatu managed to
get through the recent global economic downturn with less damage than
some of its neighbours. Some part of this is due to the government’s
efforts in recent years to liberalise certain sectors, to improve
conditions for businesses large and small, and to improve its own
administrative processes as well. The result is that the country is a
better place to do business than it was.</p> <p>But we’re facing a
welter of challenges still. The 2010 census contains stark evidence
that the country is becoming increasingly urbanised. When peri-urban
neighbourhoods like those surrounding the Port Vila and Luganville
municipalities are factored in, we see that the old 80/20% rural/urban
split no longer holds. Over the last few years, falling commodity
prices and lack of opportunity have drawn more and more young adults
into our towns. Back in 2010, the division was closer to 70/30, and
based on observation alone, it’s clear that this trend is continuing
at a rapid pace.</p> <p>Vanuatu has to grow to survive. A rapidly
growing, increasingly urbanised population requires additional
investment in health and education facilities and services, more
robust utilities, better roads and affordable transport over an
increasingly large area. Even in the islands, where subsistence
agriculture provides essential food security, more cash is needed to
improve living conditions. School fee subsidies provide much needed
relief to families throughout the country, but enrolment increased
more in rural areas than anywhere else. And if village parents want to
see their children educated beyond the basics, they need to find the
means to support their children’s continuing education, usually in a
boarding school at some distance from the village.</p> <div
class="pull-quote">We’ve raised ourselves up sufficiently now that
were we to fall back to earth, the drop could prove fatal. The only
choice left to us, then, is to keep lifting. But how?</div> <p>Mobile,
and soon internet, charges represent new costs for all Ni
Vanuatu. Since 2008, the expense has been met largely by increased
economic activity rather than the reallocation of existing money. But
sustaining the use of modern technology –a necessity for rural growers
and urban dwellers alike– will require additional exertions. The
government is doing its part, with an aggressive ‘play or pay’
universal access policy, which requires all Internet providers, large
or small, either to submit plans to support the goal of broadband for
98% of the population by 2018, or to face a levy of up to 4% of
profits. But more infrastructure is required, and one way or another,
that requires private sector investment, which in turn requires
additional consumer uptake.</p> <p>The country, in short, is facing a
bootstrapping problem. We’ve raised ourselves up sufficiently now that
were we to fall back to earth, the drop could prove fatal. The only
choice left to us, then, is to keep lifting. But how?</p> <p>Leaders
and strategic planners are well aware of the challenge. To meet it,
they’ve laid out an ambitious infrastructure investment agenda. USD 20
million to shore up Port Vila’s decrepit road system. USD 70 million
more in improvements to Port Vila wharf. Additional millions to
improve the Seafront area, making it more attractive to tourists,
residents and businesses alike. Money to subsidise inter-island
shipping and to improve and re-equip the Luganville wharf. A new
privately-funded airport is in the pipeline, and a USD 30 million
submarine cable is ready to begin commercial service. Speculation
abounds concerning a raft of other infrastructure schemes, including
road-building in Tanna, Malekula, Santo and Ambrym.</p> <p>Such plans
are commendable and necessary. But we need to sound two notes of
caution:</p> <ol> <li>Such work is necessary but not sufficient to
deal with Vanuatu’s development issues. Stretched though we are, we
need figure out how to do more than one thing at a time. Our health
and education services need urgent attention.</li> <li>Infrastructure
projects are <i>hard</i>. Even the best-managed projects face delays
and budget overruns. And with costs this high, we’ll only get one
swing at the bat. Whatever the results, we’ll be living with them for
a generation.</li> </ol> <p>The ministry of finance and the reserve
bank have done yeoman service in past years in charting a sober,
conservative financial course for the country. Most of their work, of
necessity, is quiet slogging whose importance is too often
overlooked. They have done much to keep the worst from
happening. Likewise, the decision to significantly strengthen
strategic planning and donor coordination capacity in the prime
minister’s office is bearing fruit as well. There’s much more still to
be done, and project management is still a significant bottleneck, but
it’s fair to say that things are better than they were.</p> <p>Below
that level, though, huge gaps still exist. While PMO and Treasury can
do much to assist, they simply cannot provide planning, budgeting and
implementation services to each and every department. Resource
constraints are Vanuatu’s lot in life. With such a tiny resource pool,
there will always be situations where a single person leaving can
delay a project for months.</p> <p>The lack of capacity to effectively
implement policies and plans is probably the single greatest threat to
the successful completion of the government’s ambitious
agenda. Vanuatu’s economic growth forecasts have been consistently
wrong throughout the slow recovery. This is largely due to delays
caused by lack of human resources and robust management processes.</p>
<p>To top it off, the government’s policy, planning and budgeting
processes are not integrated to the degree they need to
be. Ministerial fiat still threatens to destabilise what should be a
careful deliberative process. We understand why politicians fight hard
to see their visions realised in the short time that any minister has
in one portfolio, but such impatience reflects a misunderstanding of
just what policy is. A policy made properly today is a promise to see
the minister’s wishes respected in the years to come. In short, policy
stability should be possible even when political stability isn’t.</p>
<p>Faced with such severe constraints, and with the relative immensity
of the work about to begin, prudence, deliberation and more than a
modicum of luck will be necessary in order to see our current slate of
projects to completion. Add to that the chronic weakness in health and
education that have dangerously undermined the country’s
self-sufficiency, and it becomes clear that we’ll have to punch well
above our weight just to get by.</p> <p>The last thing we need,
therefore, is for well-intentioned but ill-considered projects to be
thrown willy-nilly into our collective lap. There is admittedly a vast
amount of work to be done. And just as clearly, different people will
have different ideas about what needs doing first. But we, of all
nations, can’t afford to charge blindly ahead without first
considering the cost.</p>