<div ng-controller="NPPCtrl">

  <div class="row">
    <div class="span8">
     <h1><em>Open Budgets</em>: New Policy Proposals - Vanuatu's
      Spending Priorities</h1>

      <p class="intro">
      In practice for the Vanuatu government, New Policy Proposals
      (NPPs) represent the main changes to spending within a budget.
      The Ministerial Budget Committee deliberate over these
      priorities for the coming year, some of which will be
      longer-term (recurrent) commitments, some will be one-off
      activities.
      </p>
      <p>
      If you want to know what main spending decisions were made in the
      last three budgets as stated by the government, this is a good
      place to start. Understanding, and sometimes questioning, how
      these decisions fit with development plans is central to
      engaging, influencing and holding account those responsible for
      managing public funds.
      </p>
      <p>
      To use this resource, hover over each of the pie slices to see
      the department name and the amount of new money being allocated
      to it. Click on the pie slice to see a detailed list of new
      policy proposals associated with that department.
      </p>
		</div>
		<div class="fade-in" ng-include src="'/views/sidebar.html'">
		</div>
		<div class="row">
			<div class="span12">
				<h3>New Policy Proposals - {{current_year}}</h3>
				<div class="choose-your-poison">
					<div class="btn-group">
						<button type="button" btn-radio="'2012'"  ng-model="radioModel" class="btn" ng-click="recordSelect('2012')">2012</button>
						<button type="button" btn-radio="'2013'"  ng-model="radioModel" class="btn" ng-click="recordSelect('2013')">2013</button>
						<button type="button" btn-radio="'2014'"  ng-model="radioModel" class="btn" ng-click="recordSelect('2014')">2014</button>
					</div>
				</div>
				<p>(Millions of Vatu)</p> 
			</div>
		</div>    
		<div class="row">
			<div class="span8" style="margin-right: -4em;">
				<nvd3-pie-chart
					data="pieChartData"
					noData=""
					id="pieChartNPPs"
					showLabels="false"
					showValues="true"
					labelType="percent"
					tooltips="true"
					tooltipContent="tooltipContent"
					transitionDuration="1200"
					x="xFunction()"
					y="yFunction()"
					width="700"
					height="700"
					donut="false"
					donutRatio="1.5"
					donutLabelsOutside="false"
					showLegend="false"
					color="colorFunction()"
					margin="{left:-400,top:0,bottom:150,right:0}">
					<svg id="npps"></svg>
				</nvd3-pie-chart>
				<p><em><span style="line-height: 1.5em;">Source: Vanuatu Government Budget; PiPP Staff Estimates</span></em></p>
			</div>
			<div class="span4" style="background-color: #eee; margin: 0.5em;
					 border: 1px dotted #dfdfdf; min-height: 400px">
				<p class="yearly-aggregate fade-in">Total new spending approved for
					{{current_year}}: <span style="color:#000;">{{annual_total}} VATU</span></p>
				<h3 class="fade-in" style="text-align:center; font-size:9pt;line-height:1em;padding:1em;padding-top:0.25em;margin-top:0;">{{name.indexOf('Vanuatu') != 0 ? name : ''}}</h3>
				<ul class="npp-list nav nav-pills nav-stacked" style="list-style-type:none;" ng-repeat="npp in vuNPPs | orderBy:npp.y:reverse">
					<li class="npp-list-item"><strong>{{npp.key}}:</strong><br /> {{int2roundKMG(npp.y)}} VATU</li> 
				</ul>
			</div>
		</div>
	</div>
</div>
