body {
    background: #fafafa;
    font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

ul.breadcrumbs {
    margin-left: 0;
    padding-left: 0;
    border: 1px dotted #eee;
    background: #f8f8f8;
}

li.breadcrumb-trail {
    color: #468;
    display: inline;
    margin-right: 1em;
    list-style-type: none;
}

li.breadcrumb-trail span {
    color: #468;
}

li.breadcrumb-trail span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.breadcrumb-trail.ng-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 transition: 1s linear all; /* All other modern browsers and IE10+ */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.breadcrumb-trail.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}

.nv-legendWrap {
    position: relative;
    top: 900px;
}

/* Animations */
.fade-in.ng-enter.ng-enter-active {
  -webkit-animation: enter_sequence 0.3s linear; /* Safari/Chrome */
  animation: enter_sequence 0.3s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.other {
  -webkit-transition:all linear 0.4s;
  transition:all linear 0.4s;
  opacity:1;
  padding:10px;
}
 
.other.ng-hide-add,
.other.ng-hide-remove {
  display:block!important;
}
 
.other.ng-hide {
  opacity:0;
  padding:0 10px;
}


/* Legend */
 
.legend-bullet-1 {
    display: inline;
    color: #FF0000;
    height: 300px;
}
.legend-bullet-2 {
    display: inline;
    color: #00FF00;
}
.legend-bullet-3 {
    display: inline;
    color: #0000FF;
}
.legend-bullet-4 {
    display: inline;
    color: #000;
}